<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>

    <main>
        <div class="container mt-4">

            <h1>Spread a new Virus!</h1>

            <form th:action="@{/viruses-add}" method="post">
                <div class="form-group">
                    <label for="inputVirusName">Name</label>
                    <input type="text" class="form-control" id="inputVirusName" placeholder="Virus Name">
                    <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                </div>

                <div class="form-group">
                    <label for="inputVirusDescription">Virus Description</label>
                    <textarea class="form-control" id="inputVirusDescription" rows="3"></textarea>
                    <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->

                </div>

                <div class="form-group">
                    <label for="inputVirusSideEffect">Side Effect</label>
                    <input type="number" class="form-control" id="inputVirusSideEffect">
                    <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                </div>

                <div class="form-group">
                    <label for="inputVirusCreator">Creator</label>
                    <input type="text" class="form-control" id="inputVirusCreator">
                    <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                </div>

                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="inputVirusDeadly">
                        <label class="form-check-label" for="inputVirusDeadly">
                            Is Deadly?
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="inputVirusCurable">
                        <label class="form-check-label" for="inputVirusCurable">
                            Is Curable?
                        </label>
                    </div>
                    <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                </div>

                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="inputVirusMutation1"
                               value="ZOMBIE" checked>
                        <label class="form-check-label" for="inputVirusMutation1">ZOMBIE</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="inputVirusMutation2"
                               value="T_078_TYRANT">
                        <label class="form-check-label" for="inputVirusMutation2">T_078_TYRANT</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="inputVirusMutation3"
                               value="GIANT_SPIDER">
                        <label class="form-check-label" for="inputVirusMutation3">GIANT_SPIDER</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="inputVirusMutation4"
                               value="Save Humanity" disabled>
                        <label class="form-check-label" for="inputVirusMutation4">
                            Save Humanity
                        </label>
                        <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                    </div>

                </div>

                <div class="form-group">
                    <label for="inputVirusTurnoverRate">Turnover Rate</label>
                    <input type="number" class="form-control" id="inputVirusTurnoverRate">
                    <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                </div>

                <div class="form-group">
                    <label for="inputVirusHours">Hours until turn</label>
                    <input type="number" class="form-control" id="inputVirusHours">
                    <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                </div>


                <div class="form-group">
                    <label for="inputVirusMagnitude">Magnitude</label>
                    <select class="form-control" id="inputVirusMagnitude">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                </div>

                <div class="form-group">
                    <label for="inputVirusReleaseDate">Release date</label>
                    <input type="date" class="form-control" id="inputVirusReleaseDate">
                    <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                </div>

                <div class="form-group">
                    <label for="inputVirusAffectedCapitals">Affected Capitals</label>
                    <select multiple class="form-control" id="inputVirusAffectedCapitals">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>


            </form>
        </div>
    </main>
</div>
</body>
</html>