<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>

    <main>
        <div class="container mt-4">


            <form th:action="@{/viruses/edit/{id}(id = ${model.id})}" method="post" th:object="${model}">

                <div class="form-group">
                    <h1>Edit Virus <strong th:text="*{name}"></strong></h1>
                </div>


                <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'text-danger'">
                    <label for="inputVirusName">Name</label>

                    <input type="text" th:field="*{name}" class="form-control" id="inputVirusName"
                           placeholder="Virus Name">
                    <small id="nameHelp" th:each="error : ${#fields.errors('name')}" th:text="${error}"></small>
                </div>

                <div class="form-group">
                    <label for="inputVirusDescription">Virus Description</label>
                    <textarea class="form-control" rows="3" th:field="*{description}"
                              id="inputVirusDescription"></textarea>
                </div>

                <div class="form-group">
                    <label for="inputVirusSideEffect">Side Effect</label>
                    <input type="text" class="form-control" th:field="*{sideEffects}" id="inputVirusSideEffect">
                </div>

                <div class="form-group">
                    <label for="inputVirusCreator">Creator</label>
                    <input type="text" class="form-control" th:field="*{creator}" id="inputVirusCreator">
                </div>

                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="inputVirusDeadly" th:field="*{deadly}">
                        <label class="form-check-label" for="inputVirusDeadly">
                            Is Deadly?
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="inputVirusCurable" th:field="*{curable}">
                        <label class="form-check-label" for="inputVirusCurable">
                            Is Curable?
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-check" th:each="mutation : ${T(residentevil.domain.entities.Mutation).values()}">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="inputVirusMutation1"
                               th:value="${mutation}" th:text="${mutation}" th:field="*{mutation}">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="inputVirusMutation4"
                               value="Save Humanity" disabled>
                        <label class="form-check-label" for="inputVirusMutation4">
                            Save Humanity
                        </label>
                    </div>
                </div>


                <div class="form-group">
                    <label for="inputVirusTurnoverRate">Turnover Rate</label>
                    <input type="number" class="form-control" id="inputVirusTurnoverRate" th:field="*{turnoverRate}">
                </div>

                <div class="form-group">
                    <label for="inputVirusHours">Hours until turn</label>
                    <input type="number" class="form-control" id="inputVirusHours" th:field="*{hoursUntilTurn}">
                </div>


                <div class="form-group">
                    <label for="inputVirusMagnitude">Magnitude</label>
                    <select class="form-control" id="inputVirusMagnitude" th:field="*{magnitude}">
                        <option th:each="magnitude : ${T(residentevil.domain.entities.Magnitude).values()}"
                                th:value="${magnitude}" th:text="${magnitude}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="inputVirusReleaseDate">Release date</label>
                    <input type="date" class="form-control" th:field="*{releasedOn}" id="inputVirusReleaseDate"
                           th:disabled="${model.releasedOn}">
                </div>
                <div class="form-group">
                    <label for="inputVirusAffectedCapitals">Affected Capitals</label>
                    <select multiple class="form-control" id="inputVirusAffectedCapitals" th:field="*{capitals}">
                        <option value="12" selected = "true">Test</option>

                        <option th:each="capital : ${capitals}" th:value="${capital.id}"
                                th:text="${capital.name}"></option>
                    </select>
                </div>
                <button class="btn btn-outline-secondary">Save</button>
            </form>
        </div>
    </main>
</div>
</body>
</html>