<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">




<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>

    <main>
        <div class="jumbotron re-background mt-4">
            <h1 th:text="|Hello, ${username}|"></h1>
            <h1>It's Work</h1>
            <hr/>
        </div>
    </main>

</div>
</body>
</html>