<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>

    <main>
        <div class="container mt-4">

            <h1>All Viruses!</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Magnitude</th>
                    <th>Released On</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="virus, iter : ${viruses}">


                    <td th:text="${iter.index} + 1"></td>

                    <td th:text="${virus.name}"></td>
                    <td th:text="${virus.magnitude}"></td>
                    <td th:text="${#dates.format(virus.releasedOn, 'dd-MMM-yyyy')}"></td>

                    <td>
                        <a class="btn btn-outline-secondary"
                                th:href="@{/viruses/edit/{id}(id=${virus.id})}" th:text="Edit"></a>
                    </td>

                    <td>
                        <a class="btn btn-outline-secondary"
                           th:href="@{/viruses/delete(id=${virus.id})}" th:text="Delete"></a>
                    </td>

                </tr>
                </tbody>
            </table>


            <!--<div class="form-group">-->
            <!--<label for="inputVirusAffectedCapitals">Affected Capitals</label>-->
            <!--<select multiple class="form-control" id="inputVirusAffectedCapitals" th:field="*{capitals}">-->
            <!--<option th:each="capital : ${capitals}" th:value="${capital.id}" th:text="${capital.name}"></option>-->
            <!--</select>-->
            <!--</div>-->


        </div>
    </main>
</div>
</body>
</html>